<h2>Reactives: Switches</h2>
<hr>


<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genre</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="M"
                       id="radioMasculine"
                       formControlName="gender">
                <label class="form-check-label" for="radioMasculine">
                  Masculine
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="F"
                       id="radioFemenine"
                       formControlName="gender">
                <label class="form-check-label" for="radioFemenine">
                  Femenine
                </label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notifications</label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input class="form-check-input"
                       type="checkbox"
                       id="flexSwitchCheckChecked"
                       formControlName="wantNotifications">
                <label class="form-check-label" for="flexSwitchCheckChecked">I want to recieve notifications</label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       id="flexCheckDefault"
                       formControlName="termsAndConditions">
                <label class="form-check-label" for="flexCheckDefault">
                  Terms and conditions
                </label>
              </div>
              <span class="form-text text-danger" *ngIf="isNotValid('termsAndConditions')">
                 Must agree to terms and conditions
              </span>

        </div>
    </div>


    <!-- Boton submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit"
                    >
                Save
            </button>
        </div>
    </div>

</form>


<h5>Form value</h5>
<pre>{{ myForm.value| json }}</pre>
<br>

<h5>Persona</h5>
<pre>{{ 'object' | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ myForm.valid| json }}</pre>

<!-- <h5>Términos</h5> -->
<!-- <pre>{{ myForm.controls?.terminos?.errors | json }}</pre> -->

<!-- <br>
<pre>Condiciones: </pre> -->
